import barba from "https://cdn.skypack.dev/@barba/core@2.10.3"; // Barba.js page transitions
gsap.registerPlugin(Flip); // register FLIP
import { CustomEase } from "https://cdn.skypack.dev/gsap@3.12.5/CustomEase"; // GSAP CustomEase plugin
gsap.registerPlugin(CustomEase);
// Define a flat ease that only eases at start/end with constant mid-phase
CustomEase.create("flatEase", "M0,0 C0.15,0.15 0.85,0.85 1,1");

const HEADER_ANIM_DURATION = 0.4;

function toggleLanguage() {
  const flipState = Flip.getState(".content-lang > div");
  document.body.classList.toggle("lang-hebrew");
  Flip.from(flipState, { duration: HEADER_ANIM_DURATION, ease: 'flatEase' });
}

function updateWordplayZones() {
  const flipState = Flip.getState(".content-lang > div");
  // Some update logic here...
  Flip.from(flipState, { duration: HEADER_ANIM_DURATION, ease: 'flatEase' });
}
